@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="text-center">
        <p>
            W bazie jest @Model.Records.Count() obiektów. Lista
            aktywnych osób:
        </p>
        @foreach (var item in Model.Records)
        {
            <p>@item.FirstName @item.LastName</p>
        }
    </div>

</div>
